<div *ngIf="service.currentTenant; else checkTenantMessage">
    <h2 class="mb-3">Tenant › {{service.currentTenant.title}}</h2>
    <div class="dropdown-divider"></div>
    <h4 class="mb-3 mt-3">Your Forms</h4>
    <ul class="list-group">
        <li class="mb-2 card" *ngFor="let form of (forms | async)">
            <div class="col-md-8 p-2 pl-3">
                <span class="card-title" (click)="service.setForm(form, 'edit')">{{form.title}}</span>
                <br/>
                <span class="small text-muted">{{config.apiUrl}}/{{form.tenant.name}}/{{form.path}}</span>
            </div>
        </li>
    </ul>
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"></pagination>
</div>

<ng-template #checkTenantMessage>
    <div class="alert alert-warning" role="alert">
      Current Tenant was not found. Please check yor project plan and tenant configuration.
    </div>
</ng-template>
