<div *ngIf="service.currentTenant; else checkTenantMessage">
    <h3>{{service.currentTenant.title}}</h3>
    <h3>Forms</h3>
    <ul class="list-group">
        <li class="mb-2 card" *ngFor="let form of (forms | async)">
            <div class="col-md-8 p-2 pl-3">
                <span class="card-title" (click)="service.setForm(form, 'edit')">{{form.title}}</span>
                <br/>
                <span class="small text-muted">{{config.apiUrl}}/{{form.tenant.name}}/{{form.path}}</span>
            </div>
        </li>
    </ul>
</div>

<ng-template #checkTenantMessage>
    <div class="alert alert-warning" role="alert">
      Current Tenant was not found. Please check yor project plan and tenant configuration.
    </div>
</ng-template>
