.card-title {
    cursor: pointer;
}

.card-title:hover {
    text-decoration: underline;
}

.card {
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.15);
}

.card:hover {
    box-shadow:  0 0.5rem 3rem rgba(0, 0, 0, 0.175);
}

.active .page-link {
    background-color: #6ab445;
}

.page-link {
    color: black;
}