<div *ngIf="service.currentTenant; else checkTenantMessage">
  <ul aria-label="Form" role="navigation" class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" routerLink="../../forms"><i class="fa fa-chevron-left glyphicon glyphicon-chevron-left"></i></a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="edit" routerLinkActive="active"><i class="fa fa-edit glyphicon glyphicon-edit mr-2"></i> Edit</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="view" routerLinkActive="active"><i class="fa fa-pencil glyphicon glyphicon-pencil mr-2"></i> Use</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="submission" routerLinkActive="active"><i class="fa fa-list-alt glyphicon glyphicon-list-alt mr-2"></i> Data</a></li>
    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="delete" routerLinkActive="active"><span class="fa fa-trash glyphicon glyphicon-trash"></span> Delete</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>

<ng-template #checkTenantMessage>
  <div class="alert alert-warning" role="alert">
    Current Tenant was not found. Please check yor project plan and tenant configuration.
  </div>
</ng-template>
