<div class="p-3">
  <div class="d-flex mt-2 mb-2">
    <div class="nav-item mr-auto" ><a class="pl-2 pr-2 p-1 nav-link border border-1 rounded-circle" routerLink="edit" routerLinkActive="border-secondary bg-light"><i class="fa fa-edit glyphicon glyphicon-edit"></i></a></div>
    <div class="nav-item" #delete><a class="pl-2 pr-2 p-1 nav-link border border-1 rounded-circle" routerLink="delete" routerLinkActive="border-secondary bg-light"><i class="fa fa-trash glyphicon glyphicon-trash"></i></a></div>
  </div>
  <router-outlet></router-outlet>
</div>
