<div *ngIf="service.currentTenant">
  <h2>Tenant › {{service.currentTenant.title}}</h2>
  <div class="dropdown-divider"></div>
  <h4 class="mb-3 mt-3">Creating a New Form</h4>
</div>

<div class="p-3 pb-5 shadow builder-card mt-3">
  <div class="form-inline mb-3">
    <div class="form-group ">
        <label for="formTitle">Title</label>
        <input type="text" class="form-control mx-sm-3" id="formTitle" placeholder="Enter a Title" (change)="titleChange()" #title>
    </div>
  </div>

  <formio-alerts [alerts]="alerts"></formio-alerts>
  <form-builder [form]="form" [options]="service.getBuilderOptions()" (change)="onChange($event)"></form-builder>
  <a type="button" class="btn btn-success float-right" (click)="onSaveForm()">Save Form</a>
</div>