<h4 class="text-center my-4">When using the Enterprise Form Builder module, you need to provide these 3 different configurations.</h4>
<div class="row m-3">
    <div class="col-7 bg-light p-3">
        <formio [form]="settingsForm" [submission]="{data: this.config}" (ready)="onReady($event)"></formio>
        <a type="button" class="btn btn-success" (click)="saveSettings()">Save Settings</a>
    </div>
    <div class="col-5">
        <div class="p-3">
            <p>When using this module within your own application, instead of using this form, you can provide these configurations within your application as follows.</p>
            <strong class="text-small my-0 p-0">app.module.ts</strong>
            <div class="bg-light mb-3 p-3">
                <pre><code>{{ codeblock }}</code></pre>
            </div>
        </div>
    </div>
</div>
