
<div *ngIf="service.currentForm || form" class="p-3 pb-5">
    <div class="col-3 d-flex mb-2">
        <label class="p-0 col-5 mb-0 pt-1" for="formSelect">Display as</label>
        <select class="form-control" id="formSelect" (change)="onDisplaySelect($event)" #type>
          <option value="form">Form</option>
          <option value="wizard">Wizard</option>
          <option value="pdf">PDF</option>
        </select>
    </div>
    <formio-alerts [alerts]="alerts"></formio-alerts>
    <form-builder [form]="form" [options]="options" (change)="onChange($event)" #builder></form-builder>
    <a type="button" class="btn btn-success float-right" (click)="onSaveForm()">Save Form</a>
</div>
